
.heading
{
    font-size: large;
    width: 100%;
    margin: 0%;
    box-shadow: 5px 5px 10px grey;
    background-color: lightsalmon;
    color: white;
}

.heading_div
{
    float: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: 10px 5px 10px black;
    padding: 10px;
}

